@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Merriweather Sans", sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  min-height: 100%;
}

footer {
  margin-top: auto;
}

/*header*/
img {
  width: 100%;
  height: 100%;
}

.header {
  background: none no-repeat center;
  background-size: cover;
  z-index: 2;
}

.header .navbar {
  background-color: transparent !important;
  margin-top: 0;
}

.navbar {
  font-size: 20px;
  color: #fff;
}

.navbar-toggler {
  border: white solid 0.5px;
}

.navbar-toggler-icon {
  color: white;
  border-color: white;
}

.nav-link {
  color: white;
}

.navbar-collapse {
  margin-top: 0;
  justify-content: center;
  gap: 20%;
}

/*footer*/
.footer {
  display: flex;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  color: azure;
}

#social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

#social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 30px;
}

#social-media-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 20px;
}

#end {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: lighter;
  font-style: italic;
  margin-top: 20px;
}

.copy {
  position: absolute;
  justify-items: last baseline;
}

/*pages*/
/*INDEX*/
.index {
  margin: 0;
  padding: 0;
  background-image: url(/img/leosolo.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.navbar-light .navbar-toggler-icon {
  background-image: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e";
}

/*BIOGRAFIA*/
body {
  background-color: rgb(35, 34, 34);
  color: azure;
  margin-top: 50px;
}

.col {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.imagenl {
  align-items: center;
  border: 5px solid black;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  margin-top: 20px;
  width: 90%;
  height: 90%;
}

.messi-15 {
  height: 100%;
  margin-bottom: 0;
  margin-right: 0;
}

.caño {
  width: 100%;
  margin-top: 0;
}

p {
  text-align: justify;
  justify-content: left;
  color: azure;
}

.card1 {
  width: 400px;
  height: 450px;
  margin-top: 30px;
}

.card2 {
  display: flex;
  text-align: justify;
  margin-top: 30px;
}

/*CARRERA*/
li {
  list-style: none;
}

.carrera {
  background: radial-gradient(circle, rgba(24, 24, 24, 0.888), rgb(35, 34, 34));
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.carrera .barcelona h3 {
  display: flex;
  justify-content: center;
  color: #fe616a;
  background-color: rgba(46, 59, 88, 0.85);
  margin-top: -30px;
  text-decoration: none;
  width: 100%;
  height: 30px;
}
.carrera .barcelona h5 {
  color: #fe616a;
}
.carrera .col {
  display: flex;
  justify-content: center;
}
.carrera .psg h3 {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 50px;
  background-color: rgba(46, 59, 88, 0.85);
}
.carrera .arg h3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: rgba(46, 59, 88, 0.85);
  color: rgb(19, 212, 237);
}
.carrera .arg h5 {
  color: rgb(19, 212, 237);
}
.carrera .individuales h3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: rgba(46, 59, 88, 0.85);
  color: rgb(233, 122, 18);
}
.carrera .individuales .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.carrera .individuales .flex-item {
  margin: 40px;
  flex-direction: column;
  height: 150px;
  width: 150px;
  margin-top: 70px;
}
.carrera .individuales h5 {
  color: rgb(233, 122, 18);
}
.carrera .records h3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: rgba(46, 59, 88, 0.85);
  color: gold;
}
.carrera .records .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-right: 10px;
  gap: 50px;
}
.carrera .records .flex-item {
  display: contents;
  margin: 30px;
  height: 250px;
  width: 50%;
  margin-bottom: 80px;
}

/*SELECCION*/
.intro-arg {
  grid-area: intro;
  margin-top: 100px;
  font-weight: 400;
  flex-wrap: wrap;
  color: #000;
  background-color: rgb(19, 212, 237);
  padding: 20px;
  z-index: 1;
  box-shadow: rgb(19, 212, 237) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
}

.cup {
  width: 100%;
  height: 100%;
  border: 2px double rgb(19, 212, 237);
  box-shadow: rgb(19, 212, 237) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
  z-index: -1;
}

.equipo {
  display: flex;
  grid-area: team;
  box-shadow: rgb(19, 212, 237) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
  width: 100%;
  height: 80%;
  margin-top: 80px;
}

.mas-info {
  background-color: rgb(19, 212, 237);
  width: 100%;
  margin-top: 150px;
  font-weight: 200;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0;
  grid-area: mas-info;
  z-index: 1;
  box-shadow: rgb(19, 212, 237) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
  padding: 20px;
  color: #000;
  justify-content: center;
}

.info {
  box-shadow: rgb(19, 212, 237) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
  background-color: rgb(19, 212, 237);
  color: #000;
  width: 100%;
  box-shadow: rgb(19, 212, 237) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
  padding: 20px;
  margin-top: 60%;
  justify-self: right;
  justify-content: center;
}

.regate {
  margin-top: 80px;
  width: 100%;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*FOTOS Y VIDEOS*/
.body-carousel {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  z-index: -1;
}
.body-carousel .carousel {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.body-carousel .carousel-item {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.body-carousel .carousel-item img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  margin-top: 100px;
}

/*# sourceMappingURL=style.css.map */
