* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Merriweather Sans', sans-serif;
}

html, 
body {
    height: 100%;
}

/*header*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
  }

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: white;

    a {
        font-size: 120%;

        &:hover {
            font-weight: bold;
            color: azure;
        
        }
    }   
}


img {
    width: 100%;
    height: 100%;
}


/*footer*/

.footer {
    position: relative;
    width: 100%;
    height: 30px; 
    color: azure;
  }


  .social-media-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .social-media-icons {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-right: 10%;
        padding: 10%;
    }
 }

 .end {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
    font-weight: lighter;
    font-style: italic;  
 }


 
 /*pages*/
 
 /*INDEX*/

 .body-principal {
    margin: 0;
    padding: 0;
    background-image: url(/img/leosolo.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
 }


 @media only screen and (max-width: 767px){

    nav {
      ul {
        flex-direction: column;
        align-items: left;
        font-size: 15px;
        li{
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
        }
      }
    }

    .social-media-container,   
    .social-media-icons {
      display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
      .end {
        font-size: 12px;
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }
  




/*BIOGRAFIA*/


body {
    background-color: rgb(35, 34, 34);
    display: grid;
    color: azure;
    margin-top: 50px;
}

.imagenl {
    margin-left: 30px;
    display: flex;
    justify-content: right;
    border: 5px solid black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;    margin: 10%;
    width: 125%;
    height: 100%;

}

.grid-container {
    display: grid;
    grid-template-areas:
    "leito tarjeta1 ."
    "tarjeta2 messi15 ."
    "caño caño caño";
    grid-template-columns: 400px auto;
    grid-template-rows: 600px auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: flex-start;
    
  }
  
  .messi-15 {
    width: 160%;
    height: 145%;
    grid-area: messi15;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-self: right;
    align-self: flex-start;
    padding-left: 60%;
    margin-top: -20%;
  }
  

  .caño {
    width: 82%;
    height: 85%;
    object-fit: cover;
    grid-area: caño;
    grid-column: 1/2/3;
    grid-row: 3;
    padding-left: 20%;

  }

   p {
        color: azure;
    }


    .card1 {
        width: 750px;
        height: 350px;
        grid-area: tarjeta1;
        padding: 2em;
        justify-self: end; 
        grid-column: 2; 
        grid-row: 1;
        margin-top: 5%;
        justify-self:left;
        margin-left: 20%;

        h3 {
            display: flex;
            justify-content: left;
        }
    }

    .card2 {
        width: 700px;
        height: 450px;
        grid-area: tarjeta2;
        padding: 3em;
        grid-column: 1;
        grid-row: 2;
        margin-left: 10px;
        padding-right: 10%;
    }


.card2 h2,
.card p {
    margin-bottom: 1em;
}

.boton-container {
    display: flex;
    justify-content: left;
  }


  .button{
    appearance: button;
    background-color: #120e31;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #840303 4px 4px 0 0,#161515 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    a {
        text-decoration: none;
        color: azure;
    }
    
  }
  
  .button:focus {
    text-decoration: none;
  }
  
  .button:hover {
    text-decoration: none;
  }
  
  .button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 12px 50px;
    }
  }

  

    @media only screen and (max-width: 767px){

      
        body {
            background-color: rgb(35, 34, 34);
            display: grid;
            color: azure;
            margin-top: 50px;
          
          
          .imagenl {
            margin-left: 50px;
            display: flex;
            justify-content: center;
            width: 200px;
            height:auto;
            border: 5px solid black;
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        
          }
          
          .grid-container {
            display: grid;
            grid-template-areas:
              "leito"
              "tarjeta1"
              "tarjeta2"
              "messi-15"
              "caño";
            grid-template-columns: 100px;
            grid-template-rows: auto 200px 150px 250px 200px;
            column-gap: 10px;
            row-gap: 10px;
            justify-content: flex-start;
          }

          .messi-15 {
            width: 280px;
            height: 120px;
            grid-area: messi15;
            grid-column: 1;
            grid-row: 4/5;
            display: flex;
            align-self: flex-end;
            margin-top: 50pxgit ;
            margin-right: -250px;
          }
          
          .caño {
            width: 250px ;
            height: 120px;
            object-fit: cover;
            grid-area: caño;
            grid-column: 1;
            grid-row: 5;
            margin-top: 40px;
            margin-left: 45px;
          }
          
          p {
            color: azure;
          }
          
          .card1 {
            width: 400px;
            height: 700px;
            height: auto;
            grid-area: tarjeta1;
            padding: 2em;
            justify-self: end; 
            grid-column: 1; 
            grid-row: 2;
            margin-top: -15px;
            margin-bottom: 50px;
            justify-self:left;
            font-size: 12px;
         
          
            h3 {
              display: flex;
              justify-content: left;
              font-size: 16px;
            }
          }
          
          .card2 {
            width: 400px;
            height: 700px;
            grid-area: tarjeta2;
            padding: 1em;
            grid-column: 1;
            grid-row: 3;
            margin-top: 60px;
            font-size: 12px;

            h3{
                font-size: 16px;
            }
          }
          
          .card2 h2,
          .card p {
            margin-bottom: 1em;
          }

          
          .boton-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
          }
          
        }

        .button {
            appearance: button;
            background-color: #120e31;
            background-image: none;
            border: 1px solid #000;
            border-radius: 4px;
            box-shadow: #840303 4px 4px 0 0,#161515 4px 4px 0 1px;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 5px 10px 0;
            overflow: visible;
            padding: 12px 40px;
            text-align: center;
            text-transform: none;
            touch-action: manipulation;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
            white-space: nowrap;
    }
 }




/*CARRERA*/

.carrera{
    background: radial-gradient(circle,rgba(24, 24, 24, 0.888),rgb(35, 34, 34));
}

.portada{
    display: flex;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    height: calc(100vh - 100px);
    width: 100%;
    margin: 0 0 0 0;
    position: relative;
    z-index: 0;
    
}

 .barcelona{
    h3{
        display: flex;
        justify-content: center;
        color: #fe616a;
        background-color:rgba(46,59,88,0.85);
        margin-top: -30px;
    }

    .flex-container{
        display: flex;
        gap: 20px;
    }

    .flex-item{
        margin: 40px;
        flex-direction: column;
        height: 150px;
        width: 150px;
    }

    h5{
        color: #fe616a;
    }
} 

.psg {
    h3{
        display: flex;
        justify-content: center;
        margin-top: 180px;  
        margin-bottom: 50px;
        background-color: rgba(46,59,88,0.85);
    }
    .flex-container{
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .flex-item{
        margin: 40px;
        flex-direction: column;
        height: 150px;
        width: 150px;
    }

}

.arg{
    h3{
        display: flex;
        justify-content: center;
        margin-top: 30px;  
        background-color: rgba(46,59,88,0.85);
        color: rgba(19,212,237,1);
    }

    .flex-container{
        display: flex;
        justify-content: center;
        gap:40px;
    }

    .flex-item{
        margin: 40px;
        flex-direction: column;
        height: 150px;
        width: 150px;
    }

    h5{
        color: rgba(19,212,237,1);
    }
}

.individuales{
    h3{
        display: flex;
        justify-content: center;
        margin-top: 50px;  
        background-color: rgba(46,59,88,0.85);
        color: rgb(233, 122, 18);
    }

    .flex-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    
    }

    .flex-item{
        margin: 40px;
        flex-direction: column;
        height: 150px;
        width: 150px;
        margin-top: 70px;
    }

    h5{
        color: rgb(233, 122, 18);
    }
}

.records{
    h3{
        display: flex;
        justify-content: center;
        margin-top: 50px;  
        background-color: rgba(46,59,88,0.85);
        color: gold;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 80px;
        margin-right: 10px;
        gap: 50px;
        
    }

    .flex-item{
        display: contents;
        margin: 30px;
        height: 250px;
        width: 50%;
        margin-bottom: 80px;
 }
  
}



/*SELECCION*/

.grid-contenedor{ 
    display: grid;
    grid-template-columns: 400px 500px auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "intro copa copa"
    "team team mas-info"
    "regateando . mas-info"
    "regateando . info"
    "video video video";
    column-gap: 10px;
    
}

.intro-arg {
    grid-area: intro;
    margin: 25px;

p {
    width: 450px;
    font-weight: 400;
    flex-wrap: wrap;
    color: #000;
    background-color: rgba(19,212,237,1);
    padding: 20px;
    z-index: 1;
    box-shadow: rgba(19, 212, 237, 1) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
}

}

.copa {
  display: contents;

    .cup{
        margin-top: 50px;
        width: 800px;
        height: 450px;
        border: 2px double rgba(19,212,237,1);
        box-shadow: rgba(19, 212, 237, 1) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
        grid-area: copa;
        grid-column: 2/ 3;
        grid-row: 1;
        z-index: -1;
    }
}


.team{
    display: contents;
}

.equipo{
    display: flex;
    align-content: center;
    grid-area: team;
    box-shadow: rgba(19, 212, 237, 1) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
    width: 900px;
    height: 650px;
    grid-column: 1/2;
    grid-row: 2;
    margin-left: 10%;
}

.mas-info{
    background-color: rgba(19,212,237,1);
    width: 80%;
    height: 45%;
    margin-left: 50px;
    margin-top: 30%;
    font-weight: 200;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px 0;
    grid-area: mas-info;
    z-index: 1;
    grid-column: 3;
    grid-row: 2/3;
    box-shadow: rgba(19, 212, 237, 1) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
    padding: 20px;

    p{
        color: #000;
    }
}

.info{
    display: contents;
    grid-area: info;
    box-shadow: rgba(19, 212, 237, 1) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;

    p{
        background-color: rgba(19,212,237,1);
        color: #000;
        width: 70%;
        height: 40%;
        box-shadow: rgba(19, 212, 237, 1) 0px 10px 20px, rgba(41, 105, 121, 0.23) 0px 6px 6px;
        padding: 20px;
        grid-column: 3;
        grid-row: 3;
        margin-left: 0%;
        margin-top: 45%;
        justify-self: left;
    }
}

.regateando{
display: contents;

.regate{
    grid-area: regateando;
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 20%;
    width: 950px;
    height: 650px;
    z-index: 1;
}   

}

.video {
    display: flex;
    grid-area: video;
    grid-column: 1/2/3;
    grid-row: 5;
    justify-content: center;
    margin-bottom: 20px;
}



/*FOTOS Y VIDEOS*/

.body-carousel{
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;

.carousel {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.carousel-item {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .carousel-item img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}
