* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Merriweather Sans', sans-serif;
}

html, 
body {
    height: 100%;

}

/*header*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
  }

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: white;

    a {
        font-size: 120%;

        &:hover {
            font-weight: bold;
            color: azure;
        
        }
    }   
}


img {
    width: 100%;
    height: 100%;
}


/*footer*/

.footer {
    position: relative;
    width: 100%;
    height: 30px; 
    color: azure;
  }


  .social-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-media-icons {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-right: 10%;
        padding: 10%;
    }
 }

 .end {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
    font-weight: lighter;
    font-style: italic;  
 }

 /*pages*/
 
 /*INDEX*/

 .body-principal {
    margin: 0;
    padding: 0;
    background-image: url(/img/leosolo.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
 }

/*BIOGRAFIA*/


body {
    background-color: rgb(35, 34, 34);
    display: grid;
    color: azure;
    margin-top: 50px;
}

.imagenl {
    margin-left: 30px;
    display: flex;
    justify-content: right;
    border: 5px solid black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;    margin: 10%;
    width: 125%;
    height: 100%;

}

.grid-container {
    display: grid;
    grid-template-areas:
    "leito tarjeta1 ."
    "tarjeta2 messi15 ."
    "caño caño caño";
    grid-template-columns: 400px auto;
    grid-template-rows: 600px auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: flex-start;
    
  }
  
  .messi-15 {
    width: 160%;
    height: 145%;
    grid-area: messi15;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-self: right;
    align-self: flex-start;
    padding-left: 60%;
    margin-top: -20%;
  }
  

  .caño {
    width: 82%;
    height: 85%;
    object-fit: cover;
    grid-area: caño;
    grid-column: 1/2/3;
    grid-row: 3;
    padding-left: 20%;

  }

   p {
        color: azure;
    }


    .card1 {
        width: 750px;
        height: 350px;
        grid-area: tarjeta1;
        padding: 2em;
        justify-self: end; 
        grid-column: 2; 
        grid-row: 1;
        margin-top: 5%;
        justify-self:left;
        margin-left: 20%;

        h3 {
            display: flex;
            justify-content: left;
        }
    }

    .card2 {
        width: 700px;
        height: 450px;
        grid-area: tarjeta2;
        padding: 3em;
        grid-column: 1;
        grid-row: 2;
        margin-left: 10px;
        padding-right: 10%;
    }


.card2 h2,
.card p {
    margin-bottom: 1em;
}

.boton-container {
    display: flex;
    justify-content: left;
  }


  .button{
    appearance: button;
    background-color: #120e31;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #840303 4px 4px 0 0,#161515 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    a {
        text-decoration: none;
        color: azure;
    }
    
  }
  
  .button:focus {
    text-decoration: none;
  }
  
  .button:hover {
    text-decoration: none;
  }
  
  .button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 12px 50px;
    }
  }



/*CARRERA*/

.carrera{
    background: radial-gradient(circle,rgba(24, 24, 24, 0.888),rgb(35, 34, 34));
}

.portada{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin: 0 0 0 0;

}

 .barcelona{
    h3{
        display: flex;
        justify-content: center;
        color: #fe616a;
        background-color:rgba(46,59,88,0.85);
        margin-top: -85px;
    }

    .flex-container{
        display: flex;
        gap: 20px;
    }

    .flex-item{
        margin: 40px;
        flex-direction: column;
        height: 150px;
        width: 150px;
    }

    h5{
        color: #fe616a;
    }
} 

.psg {
    h3{
        display: flex;
        justify-content: center;
        margin-top: 180px;  
        margin-bottom: 50px;
        background-color: rgba(46,59,88,0.85);
    }
    .flex-container{
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .flex-item{
        margin: 40px;
        flex-direction: column;
        height: 150px;
        width: 150px;
    }

}

.arg{
    h3{
        display: flex;
        justify-content: center;
        margin-top: 30px;  
        background-color: rgba(46,59,88,0.85);
        color: rgba(19,212,237,1);
    }

    .flex-container{
        display: flex;
        justify-content: center;
        gap:40px;
    }

    .flex-item{
        margin: 40px;
        flex-direction: column;
        height: 150px;
        width: 150px;
    }

    h5{
        color: rgba(19,212,237,1);
    }
}

.individuales{
    h3{
        display: flex;
        justify-content: center;
        margin-top: 50px;  
        background-color: rgba(46,59,88,0.85);
        color: rgb(233, 122, 18);
    }

    .flex-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    
    }

    .flex-item{
        margin: 40px;
        flex-direction: column;
        height: 150px;
        width: 150px;
        margin-top: 70px;
    }

    h5{
        color: rgb(233, 122, 18);
    }
}

.records{
    h3{
        display: flex;
        justify-content: center;
        margin-top: 50px;  
        background-color: rgba(46,59,88,0.85);
        color: gold;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 80px;
        margin-right: 10px;
        gap: 50px;
        
    }

    .flex-item{
        display: contents;
        margin: 30px;
        height: 250px;
        width: 50%;
        margin-bottom: 80px;
 }
  
}



/*SELECCION*/

.grid-contenedor{ 
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows:300px 1fr 1fr 150px auto;
    grid-template-areas: 
    "intro regate"
    "cup regate"
    "intro leo-lauta"
    "mas-info equipo";
    column-gap: 10px;
}

.intro-arg{
    display: contents;
    background-color: #fe616a;
    width: 30%;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-weight: 200;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px 0 ;
    grid-area: intro;
    grid-column: 1;
    grid-row: 1;

}

.copa{
    display: contents;
}

.cup{
    display: flex;
    justify-items: center;
    width: 50%;
    height: 50%;
    border-radius: .2em;
    border: 3px solid black;
    box-shadow: 4px 4px 20px 2 #120e31;
    z-index: -1;
    grid-area: cup;
    grid-column: 1/2;
    grid-row: 1/2;
}

.equipo {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
    border-radius: .2em;
    box-shadow: 2px 4px 15px 0;
    grid-area: equipo;
}

.mas-info{
    background-color: #fe616a;
    width: 30%;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-weight: 200;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px 0;
    grid-area: mas-info;

    .leo-lauta{
        grid-area: leo-lauta;
    }

    .regate{
        grid-area: regate;
        grid-column: 2;
        grid-row: 1;
    }
}

/*FOTOS Y VIDEOS*/


